@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&amp;family=Playfair+Display:ital,wght@0,400..900;1,400..900&amp;display=swap");

body{
    overflow-x: hidden;
    background-color: #6f574d;
}
.footer {
  background-color: #6f574d;
  color: #f5e9df;
  padding: 80px 40px;
  font-family:
    DM Sans,system-ui,sans-serif;
  font-size: 14px;
}
.full-footer {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}
.footer h3 {
  color: white;
  margin-bottom: 5px;
  font-size: 16px;
  font-family:
    DM Sans,system-ui,sans-serif;
}
.footer p {
  line-height: 1.5;
  font-family:
    DM Sans,
    system-ui,
    sans-serif;
  font-size: 14px;
}
.socialpara p {
  text-align: left;
  margin-top: 15px;
  color: #ddcdc3;
}
.footer a {
  display: block;
  text-decoration: none;
  color: #ddcdc3;
  margin-bottom: 8px;
  font: size 14px;
  
  line-height: 1.27/0.875;
  
}
.footer a:hover {
  color: white;
  padding-left: 5px;
}
.logopara {
  display: flex;
  justify-content: space-between;
  width: 100%;
  justify-content: left;
}
.footer-top {
  display: grid;
  grid-template-columns: 350px 1fr;
  align-items: flex-start;
  gap: 20px;
}
.social-media {
  flex: 1;
  max-width: 320px;
}
.social-content {
  display: flex;
  gap: 12px;
  align-items: center;
}
.social-content img {
  background-color: #ffffff;
  margin-left: 20px;
  padding: 6px;
  border-radius: 30px;
}
.all-contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
.social-icons {
  margin-top: 0px;
  display: flex;
  gap: 12px;
}
.social-icons img {
  color: white;
  width: 28px;
  height: 24px;
  margin-right: 10px;
  background-color: #8a6a58;
  padding: 8px;
  border-radius: 50%;
 
  margin-top: 10px;
}
.social-icons img:hover {
  background-color: #a07c67;
}
.timecontact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 40px;
  color: #ddcdc3;
}
.timecontact h3 {
  color: #ddcdc3;
}
.footer hr {
  border-color: #f3c7b620;
  max-width: 1200px;
  justify-items: center;
  margin: 30px auto 0;
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #ddcdc3;
  max-width: 1200px;
  width: 100%;
  margin: 30px auto 0;
}
.legal-links {
  display: flex;
  margin-left: 20px;
  gap: 20px;
}
.roast a {
  font-family:
    DM Sans,
    system-ui,
    sans-serif;
  font-size: 28px;
  color: white;
}
@media (max-width:992px){
    .footer-top{
    grid-template-columns:1fr;
    gap:40px;
}

.all-contents{
    grid-template-columns:repeat(1,1fr);
}
.timecontact{
    grid-template-columns:repeat(1,1fr);
}
}
@media (max-width:768px){

.timecontact{
    grid-template-columns:1fr;
}
.copyright{
    flex-direction:column;
    text-align:center;
    gap:10px;
}

}