@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: #111827;

}

/* body {
    font-family: 'Arial', sans-serif;
} */
.header {
  background: #6F574D;
  padding: 25px 60px;
  position: sticky;
  top: 0;
  justify-items: center;
  z-index: 100;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 20px;
  max-width: 1200px;
    gap: 200px;
}
.logo{
    display:flex;
    align-items:center;
    gap:12px;
}
.logo-img{
    width:55px;
    height:50px;
    object-fit:contain;
    background-color: #846358;
    border-radius: 100px;
}
.logo-text a{
    font-size:20px;
    font-weight:bold;
    color:#ffffff;
    font-family: DM Sans, system-ui, sans-serif;
    line-height:1.2;
        text-decoration: none;

}
.logo-text a span{
    color:#eaddd7;
    font-size:12px;
}
.nav-optionss {
  list-style: none;
  display: flex;
  gap: 30px;
text-align: center;
    font-family: DM Sans, system-ui, sans-serif;

}
.nav-optionss a {
  color: #eaddd7;
  text-decoration: none;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 5px;
  font-weight: 600;
}
.nav-optionss a:hover {
  color: #ffffff;
}
.oo-btn{
     display: inline-block;
    padding: 10px 20px;
    background-color:white ;
    color: #6F574D;
    text-decoration: none;
    border-radius: 200px;
        font-family: DM Sans, system-ui, sans-serif;

}
.oo-btn:hover{
    background-color: #b3a7a3;
}
.title{
    background:#6F574D;
    padding:100px 60px;
}
.locations{
    background:#020817;
    padding:100px 60px;
    color:white;
}

.locations-heading{
    text-align:center;
    margin-bottom:60px;
    color: white;
}

.locations-heading h1{
    font-size:48px;
    font-family:'Playfair Display', serif;
}

.locations-heading p{
    color:#eaddd7;
    margin-top:10px;
    font-size: 18px;
    font-family: DM Sans, system-ui, sans-serif;;
}

.locations-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
    max-width:1300px;
    margin:auto;
}

.location-card{
    background:#111c2e;
    border-radius:20px;
    overflow:hidden;
}
.location-img{
    position:relative;
    overflow:hidden;
}

.location-img img{
    width:100%;
    height:260px;
    object-fit:cover;
    transition:transform .5s ease;
}

.location-card:hover img{
    transform:scale(1.08);
}
.flagship{
    position:absolute;
    display: block;
    top:18px;
    left:18px;
    background:#facc15;
    color:rgb(255, 255, 255);
    padding:6px 14px;
    border-radius:20px;
    font-size:13px;
    font-weight:600;
}

.location-content{
    padding:25px;

}

.location-content h2{
    font-family:'Playfair Display', serif;
    margin-bottom:15px;
}

.location-content p{
    color:#9ca3af;
    font-size:14px;
    margin-bottom:10px;
    font-family: DM Sans, system-ui, sans-serif;
}

.location-tags{
    margin:18px 0;
}

.location-tags span{
    background:#2a3347;
    padding:6px 12px;
    color: #d1b5a7;
    border-radius:20px;
    font-size:12px;
    margin-right:8px;
    display:inline-block;
    margin-bottom:6px;
    font-weight: 500;
    font-family: DM Sans, system-ui, sans-serif;
}

.direction{
    color:#d1b5a7;
    text-decoration:none;
    font-weight:600;
        font-size:14px;

    font-family: DM Sans, system-ui, sans-serif;

}

.direction:hover{
    color:white;
}

.inquiries{
    text-align: center;
    background-color: #111827;
    padding: 64px 32px;
}
.inquiries h1{
    color: white;
    font-family: Playfair Display, Georgia, serif;
}
.inquiries p{
    color: #9CA3AF;
    margin-top: 16px;
    margin-bottom: 30px;
    font-family: DM Sans, system-ui, sans-serif;
}
.contact-btn{
    
  width: 10%;
  padding: 12px ;
  background: #846358;
  border: none;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 60px;
  }
.footer{
    background-color:  #6F574D;
    color: #f5e9df;
    padding: 80px 40px;
    font-family: DM Sans, system-ui, sans-serif;
    font-size: 14px;
}
.full-footer{
    max-width: 1200px;
    margin: auto;
    width: 100%;
}
.footer h3{
    color: white;
    margin-bottom: 5px;
    font-size: 16px;
        font-family: DM Sans, system-ui, sans-serif;


}
.footer p{
    line-height: 1.5;
    font-family: DM Sans, system-ui, sans-serif;
    font-size: 14px;
}
.socialpara p{
    text-align: left;
    margin-top: 15px;
    color: #ddcdc3;
}
.footer a{
    display: block;
    text-decoration: none;
    color:#ddcdc3 ;
    margin-bottom:8px ;
    font: size 14px;
    transition: 0.3s;
    line-height: 1.27/.875;
}
.footer a:hover{
    color: white;
    padding-left: 5px;
}
.logopara{
     display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: left;
}
.footer-top {
    display: grid;
    grid-template-columns: 350px 1fr;
    align-items: flex-start;
    gap: 20px;
}
.social-media{
    flex: 1;
    max-width: 320px;
}
.social-content{
    display: flex;
    gap: 12px;
    align-items:center;
}
.social-content img{
    background-color: #ffffff;
    margin-left: 20px;
padding: 6px;    
border-radius: 30px;
}
.all-contents{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
}
.social-icons{
margin-top: 0px;
display: flex;
gap: 12px;
}
.social-icons img{
    color: white;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: #8a6a58;
    padding: 8px;
    border-radius: 50%;
    transition: 0.3s;
    margin-top: 10px;
}
.social-icons img:hover{
    background-color: #a07c67;
}
.timecontact{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin-top: 40px;
    color: #ddcdc3;

}
.timecontact h3{
    color: #ddcdc3;
}
.footer hr{
    border-color: #f3c7b620;
    max-width: 1200px;
    justify-items: center;
    margin: 30px auto 0;

}
.copyright{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #ddcdc3;
    max-width: 1200px;
    width: 100%;
    margin: 30px auto 0;
}
.legal-links{
    display: flex;
    margin-left: 20px;
    gap: 20px;
}
.roast a{
    font-family: DM Sans, system-ui, sans-serif;
    font-size: 28px;
    color: white;
}
@media (max-width:992px){

.nav-optionss{
    display:none;
}

.locations-heading h1{
    font-size:38px;
}

.header{
    padding:20px;
}

}
